.footer-container {
    background-color: rgb(248, 244, 244);
    padding-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;

    .chip-1 {
        padding: 0.3rem;
        color: #1565c0;
        cursor: pointer;
        height: fit-content;
    }

    .chip-2 {
        padding: 0.3rem;
        color: #1565c0;
        cursor: pointer;
        height: fit-content;
    }

    .chip-3 {
        padding: 0.3rem;
        color: #1565c0;
        cursor: pointer;
        height: fit-content;
    }
}