// .card-body {
//     width: 300px;
//     box-shadow: 6;
//     align-items: center;
//     justify-content: center;
//     border-radius: 5px;
//     margin: 20px;

.sub {
    align-items: center;
    justify-content: center;

    .image {
        align-items: center;
        width: 200px;
        height: 200px;
    }
}

.title {
    display: flex;
    justify-content: center;

    .sub-title {
        color: grey;
    }

    .icon {
        padding-left: 10px;
        margin-top: 5px;
        color: grey;
    }
}

// }