.root-container {

	.bottom-buttons {
		background-color: #212A3E;
		padding: 10px;
		align-items: left !important;
		display: flex;

		.link {
			text-decoration: none;
		}

		.spans {
			color: white;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 2px;
			justify-content: space-between;
		}
	}
}