.registration-button {
    align-items: center;

    .registration-button-component {
        text-transform: none !important;
        border-radius: 10px !important;
        padding: 5px 10px !important;
    }

}