.navbar {
    height: 70px;
    border-bottom: 0.4px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #212A3E;

    .wrapper {
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        .submit-button-component {
            text-transform: none !important;
        }

        .text-field {
            padding: 1rem;
        }

        .dropdowns {
            display: flex;

            .icon {
                font-size: 20px;
                color: white;
            }

            .address-link {
                text-decoration: none;

                .location {
                    color: white;
                    font-size: 15px;
                }
            }
        }

        .items {
            display: flex;
            justify-content: left;

            .item {
                display: flex;
                align-items: center;
                margin: 15px;

                .profile-link {
                    text-decoration: none;

                    .profile {
                        color: white;
                        font-size: inherit;
                        margin-left: 5px;
                    }
                }

                .icon {
                    font-size: 30px;
                    color: white;
                }
            }
        }
    }

    .bottom-buttons {
        background-color: blue;
    }
}