.navbar {
    height: 70px;
    border-bottom: 0.4px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #212A3E;

    .wrapper {
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        .dropdowns {
            display: flex;
            padding: 0.5rem;

            &:hover {
                border: 1px solid white;
                border-radius: 5px;
            }

            .icon {
                font-size: 20px;
                color: white;
            }

            .address-link {
                text-decoration: none;

                .location {
                    color: white;
                    font-size: 15px;
                }
            }
        }

        @media only screen and (max-width: 1900px) {
            .search-bar-component {
                display: flex;

                .search-bar {
                    width: 70ch;
                }
            }
        }

        @media only screen and (max-width: 1750px) {
            .search-bar-component {
                display: flex;

                .search-bar {
                    width: 50ch;
                }
            }
        }

        @media only screen and (max-width: 1400px) {
            .search-bar-component {
                display: flex;

                .search-bar {
                    width: 30ch;
                }
            }
        }

        @media only screen and (max-width: 1000px) {
            .search-bar-component {
                display: flex;

                .search-bar {
                    width: 22ch;
                }
            }
        }

        .search-bar-component {
            .search-icon {
                margin-left: 2px;

                &:hover {
                    border: 1px solid white;
                    background-color: orange;
                }
            }
        }

        .search-bar {
            padding: 3px 4px;
            margin: 0.5;
            width: 90ch;
            background-color: white;
            border-radius: 4px;
            justify-content: flex-start;
        }

        .items {
            display: flex;
            justify-content: flex-end;

            .item {
                display: flex;
                align-items: center;
                margin: 15px;

                &:hover {
                    border: 1px solid white;
                    border-radius: 5px;
                }

                .submit-button-component {
                    text-transform: none !important;
                }

                .icon {
                    font-size: 30px;
                    color: white;
                }

                .profile-link {
                    text-decoration: none;

                    .profile {
                        color: white;
                        font-size: inherit;
                        margin-left: 3px;
                        //padding: 0.5rem;
                    }
                }
            }
        }
    }
}








// .navbar {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
//     background-color: #333;
//     color: white;
//     font-size: 16px;

//     .logo {
//         display: flex;
//         align-items: center;

//         // img {
//         //     width: 50px;
//         //     height: 50px;
//         // }
//     }

//     .dropdowns {
//         display: flex;
//         align-items: center;
//         text-decoration: none;
//         color: white;

//         .location {
//             margin-left: 5px;
//         font-weight: bold;
//     }
// }

// .text-field {
//     display: flex;
//     align-items: center;

//     .MuiInputBase-root {
//         color: black;
//     }

//     input {
//         border: none;
//         outline: none;
//         margin-left: 5px;
//         font-size: 16px;
//     }

//     .search-icon {
//         background-color: #FFC107;
//         margin-left: 5px;

//         &:hover {
//             background-color: #F57C00;
//         }
//     }
// }

// .items {
//     display: flex;
//     align-items: center;

//     .item {
//         margin-left: 10px;
//         text-decoration: none;
//         color: white;
//         margin-bottom: 5px;

//         &:hover {
//             background-color: #F57C00;
//             border: 2px solid white;
//             border-radius: 10px;
//         }
//     }

// .dropdowns {
//     display: flex;
//     align-items: center;
//     text-decoration: none;
//     color: white;

//     .location {
//         margin-left: 5px;
//         font-weight: bold;
//     }
// }

//         .submit-button-component {
//             text-transform: none;
//             font-size: 16px;

//             &:hover {
//                 background-color: #F57C00;
//             }
//         }

//         .icon {
//             font-size: 30px;
//             color: white;
//         }

//         .profile-link {
//             text-decoration: none;
//             color: white;
//         }

//         .profile {
//             font-size: 16px;
//             margin-left: 5px;
//         }
//     }

//     // add this code to move the items div to the right
//     &>.wrapper {
//         display: flex;
//         justify-content: space-between;
//         width: 100%;

//         .items {
//             margin-left: auto;
//         }
//     }
// }