.user-id-container {
    text-align: center;
    padding-bottom: 2rem;

    .logo {
        padding: 0.5rem;
    }

    .sub-user-id-container {

        align-items: center;
        justify-content: center;
        display: inline-block;

        .box-shadow-container {

            padding: 1rem;
            -webkit-box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
            -moz-box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
            box-shadow: 0px 3px 12px 1px rgba(196, 196, 196, 1);
            border-radius: 0.5rem;
            width: fit-content;

            .text-field {
                padding: 1rem;
            }

            .submit-button-container {
                padding: 0.5rem;
            }
        }

        .divide-1 {
            width: auto;
            padding-top: 1.5rem;
            font-size: smaller;
            color: grey;
        }

        .t-c-left {
            width: auto;
            padding-left: 0.8rem;
            padding-top: 0.1rem;
            font-size: smaller;
            color: grey;
            text-align: left !important;

            .t-c-link {
                text-align: right;
                color: #1565c0;
                text-decoration: none;

                &:hover {
                    color: gray;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

    }

    .registration-button {
        width: auto;
        padding-top: 0.5rem;
        font-size: smaller;
        color: grey;
    }

}

.divide-main {
    height: 1px;
    background-image: linear-gradient(90deg, transparent, rgb(128, 128, 128), transparent);
    opacity: 0.5;
}